
<div style="padding: 5%;">

<h1 style="font-family:Impact; color:red;"><b> Sorry, {{message}} </b></h1>

{{!-- <p align="center" style ="font-size:x-large;"> Sorry, {{message}} </p> --}}

<p align="center">Please click Home to return</p>
</div>