

<div style="padding: 5%;">

<h1> {{message}}</h1>
<p> <a href="/{{role}}/{{router}}"> Please click to log in. </a> <br>
</div>
  {{!-- <a href="/customer/id/{{customerId}}/orders"> View all orders</a>
</p> --}}
