<body style=" background-image: url('/images/background1.jpg'); background-repeat: no-repeat; width: 100%; height: 100%; background-size:cover">
<section id="signUp">
    <h1 style= "color:beige; text-align:center">Signup Form</h1>
        <form method="post" action="/customer/signup">
            <div  style= "background-color:beige; padding:2px; width:70%; margin: auto;">
                
                <p  style="font-size:small; text-align:center"><a href="/customer/login">Already have account? Please Login </a></p>
              
              <table align="center">
                  <tr>
                      <td>Username</td>
                      <td><input style="width:90%" placeholder="email" name='email' id='email' value="" required="required"/></td>
                    </tr>
                    <tr>
                      <td>Password</td>
                        <td><input style="width:90%" placeholder="" type="password" name='password' id='password' value="" required="required"/></td>
                    </tr>
                    <td>PW Confirm</td>
                       <td><input style="width:90%" placeholder=""  name='confirmPassword' id='password' value="" required="required"/></td>
                    </tr>
                    <tr>
                      <td>First Name</td>
                      <td><input style="width:90%" placeholder="Given" name='firstName' id='nameFamily' value="" required="required"/></td>
                    </tr>
                    <tr>
                      <td>Last Name</td>
                      <td><input style="width:90%" placeholder="Family" name='lastName' id='nameGiven' value="" required="required"/></td>
                    </tr>
                    <tr>
                      <td><input style="width:90%" type="hidden" name='locationLong' id='nameGiven' value="111" required="required"/></td>
                    </tr>
                    <tr>
                      <td><input style="width"type="hidden" name='locationLat' id='nameGiven' value="222" required="required"/></td>
                    </tr>
                    <tr>
                      <td colspan="2" ><center><input type="submit" style= "padding:1.5%; " value="Sign Up" ></center></td>
                    </tr>
              <table style="color:red; font-family:fantasy;">
              <div style="padding-top: 5%;font-size:medium">
                <strong>*Password Policy:</strong>
                <ol>
                    <li style="color:red; font-family:fantasy;">At least one alphabet character (upper or lower case A-Z)</li>
                    <li style="color:red; font-family:fantasy;">At least one numerical digit (0-9)</li>
                    <li style="color:red; font-family:fantasy;">A length of at least 8 characters</li>
                </ol>
                 <p  style="font-size:small; text-align:center"><a href="/vendor/vendor-login"> Are you vendor? Please Login </a></p>
              </div>
        </div>
    </form>
</section>
</body>

          
